[Unit]
Description=Wallpaper Slideshow Timer
Requires=wp-slideshow.service

[Timer]
OnBootSec=5s
OnUnitActiveSec=10m
Persistent=no
AccuracySec=1

[Install]
WantedBy=graphical-session.target
