[Unit]
Description=Wallpaper Slideshow Timer
Requires=wp-slideshow.service
After=wayland-session@hyprland.desktop.target

[Timer]
OnBootSec=5s
OnUnitActiveSec=10m
Persistent=no
AccuracySec=1

[Install]
WantedBy=wayland-session@hyprland.desktop.target
