/* Dracula theme for wleave */

* {
    font-family: monospace;
}

window {
    background-color: rgba(40, 42, 54, 0.9);
}

button {
    color: #f8f8f2;
    background-color: #44475a;
    border: 2px solid #6272a4;
    border-radius: 8px;
    padding: 10px;
}

button label.action-name {
    font-size: 24px;
}

button label.keybind {
    font-size: 20px;
    font-family: monospace;
    color: #6272a4;
}

button:hover label.keybind,
button:focus label.keybind {
    opacity: 1;
    color: #f8f8f2;
}

button:focus,
button:hover {
    background-color: #6272a4;
    border-color: #bd93f9;
}

button:active {
    background-color: #bd93f9;
    color: #282a36;
}

button#shutdown {
    color: #ff5555;
}

button#hibernate {
    color: #8be9fd;
}

button#reboot {
    color: #50fa7b;
}

button#lock {
    color: #f1fa8c;
}

button#logout {
    color: #ffb86c;
}

button#suspend {
    color: #ff79c6;
}
