console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[secondary_prompt]
  template = '❭❭ '
  foreground = 'p:black'
  background = 'transparent'

[transient_prompt]
  template = '❭ '
  background = 'transparent'
  foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '{{if .SSHSession}}   {{end}}'
    foreground = 'green'
    background = 'transparent'
    type = 'session'

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

  [[blocks.segments]]
    template = '  '
    foreground = 'yellow'
    background = 'transparent'
    type = 'root'
    style = 'plain'

  [[blocks.segments]]
    template = ' ❯'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

[[blocks]]
  type = 'rprompt'

  [[blocks.segments]]
    template = '{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} {{ .Working.String }}{{ end }}{{ if and (.Staging.Changed) (.Working.Changed) }} |{{ end }}{{ if .Staging.Changed }} \uF046 {{ .Staging.String }}{{ end }}'
    foreground = '#8c8c8c'
    background = 'transparent'
    type = 'git'
    style = 'plain'
